* {
    margin: 0;
    padding: 0;
    font-family: 'Courier New', Courier, monospace;
   }
header {
    position: fixed;
    width: 100%;
    padding: 30px;
    background-color: #266150;
    border-bottom: 10px solid tan;
}
header nav {
    text-align: right;
    margin-right: 50px;
}
header nav ul li {
    display: inline;
    color: white;
    font-size: 20px;
}
main {
    padding-top: 100px;
    color: #4F4846;
    text-align: center;
    line-height: 50px;
}

section {
    background-color: #E8CEBF; 
}
form {
    border: 2px solid #DDAF94;
    border-radius: 20px;
    width: 500px;
    margin: 0 auto;
}

form ul li {
    display: block;
    text-align: right;
    margin:0px 60px 0px 40px;
    padding: 5px;
}
label {
    display: inline-block;
    text-align: right;
}
input, textarea {
    width: 300px;
}
button {
height: 40px;
  width: 120px;
  background-color: #4F4846;
  color: #FDF8F5;
}
footer {
    color: white;
    padding: 15px;
    background-color: #266150;
    border-bottom: 10px solid #4F4846;
    text-align: center
}